<a href="https://colab.research.google.com/github/Kane0068/testrepo/blob/main/DATABASE_US%C4%B0NG_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CONNECT DB2

**OPEN JUPITER NOTEBOOK**

##1-İMPORT ibm_db


```
import ibm_db
```

## 2- Task 2: Identify the database connection credentials¶
Connecting to dashDB or DB2 database requires the following information:

> * Driver Name
> * Database name
> * Host DNS name or IP address
> * Host port
> * Connection protocol
> * User ID
> * User Password

In [ ]:
dns_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bluedb"
dsn_hostname = "2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_port= 32328
dsn_protocol= "protocol"
dsn_uid= "username"
dsn_pwd="password"
dsn_security="SSL"

In [ ]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

##3- CREATE TABLE

In [ ]:
## Önceden kalma varsa silelim

#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [ ]:
# TABLOMUZUN OLMADIĞINA EMİN OLDUK ŞİMDİ TABLOMUZU OLUŞTURALIM

#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, F_NAME VARCHAR(20),L_NAME VARCHAR(20),CITY VARCHAR(20),CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

##4- INSERT TABLE İŞLEMLEMLERİ

In [ ]:
# TEK SATIR EKLEMEK İÇİN
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [ ]:
# 2 SATIR EKLEMEK İÇİN 
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

**IBM CLOUD DA YAPILAN İŞLEMLER ÇALIŞIYOR MU DİYE ARA ARA KONTROL EDİYORUZ**

## 5- QUERY DATA IN THE TABLE

In [ ]:
selectQuery = "SELECT * FROM INSTRUCTOR"

selectStmt = ibm_db.exec_immediate(conn,selectQuery)

ibm_db.fetch_both(selectStmt)

In [ ]:
# FARKLI BİR ŞEKİLDE DÜZENLİ OLARAK BASTIRALIM

while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

## 6- RETRİEVE DATA INTO PANDAS

In [ ]:
import pandas as pd 
import ibm_db_dbi

In [ ]:
# connection for pandas
pconn = ibm_db_dbi.Connection(conn)

selectQuery = "SELECT * FROM INSTRUCTOR"

pdf =  pandas.read_sql(selectQuery,pconn)


pdf.L_NAME[0]

pdf

pdf.shape

## TRY CONNECT IBM CLOUD

In [ ]:
pip install ibm_db

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ibm_db
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     |████████████████████████████████| 1.4 MB 38.6 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (PEP 517) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.4-cp38-cp38-linux_x86_64.whl size=41478393 sha256=2da79818b338a83f62e3e39b7b0d5c9fca9d3a024eca9f1ec649bc96388473a2
  Stored in directory: /root/.cache/pip/wheels/29/8a/54/6483abefac5e30f2897d05de40bfd83a31b23f2c02182edb6c
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.1.4

In [ ]:
import ibm_db

In [ ]:
dsn_driver ="{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"
dsn_hostname = "2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_port = "32328"
dsn_protocol = "TCPIP"
dsn_uid = "zqc22929"
dsn_pwd = "YTrA9cTR5no6Qr6B"
dsn_security = "SSL"

In [ ]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

In [ ]:
createQuery2 = "CREATE TABLE ENGİNEERS(ID INTEGER PRIMARY KEY NOT NULL,F_NAME VARCHAR(20),L_NAME VARCHAR(20),JOB_TITLE VARCHAR(20),CITY VARCHAR(20))"

creatStmt2 = ibm_db.exec_immediate(conn,createQuery2)

In [ ]:
insertQuery2 = "INSERT INTO ENGİNEERS VALUES(1,'Varmir','Khad','Computer','Rome')"

insertStmt2 = ibm_db.exec_immediate(conn,insertQuery2)

In [ ]:
selectQuery2 = "SELECT * FROM ENGİNEERS"

selectStmt2 = ibm_db.exec_immediate(conn,selectQuery2)

ibm_db.fetch_both(selectStmt2)

{'ID': 1,
 0: 1,
 'F_NAME': 'Varmir',
 1: 'Varmir',
 'L_NAME': 'Khad',
 2: 'Khad',
 'JOB_TITLE': 'Computer',
 3: 'Computer',
 'CITY': 'Rome',
 4: 'Rome'}

In [ ]:
while ibm_db.fetch_row(selectStmt2) != False:
  print("ID :" , ibm_db.result(selectStmt2,0),"F_NAME: ", ibm_db.result(selectStmt2,"F_NAME"))

In [ ]:
## connect pandas 
import pandas as pd
import ibm_db_dbi

In [ ]:
pconn = ibm_db_dbi.Connection(conn)

In [ ]:
selectQuery3 = "SELECT * FROM ENGİNEERS"

pdf2 = pd.read_sql(selectQuery3,pconn)

In [ ]:
pdf2

   ID  F_NAME L_NAME JOB_TITLE  CITY
0   1  Varmir   Khad  Computer  Rome

In [ ]:
ibm_db.close(conn)

True

# ACCESS DATABASE WİTH SQL MAGİC

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%reload_ext sql

In [ ]:
# Enter your Db2 credentials in the connection string below
# Recall you created Service Credentials in Part III of the first lab of the course in Week 1
# i.e. from the uri field in the Service Credentials copy everything after db2:// (but remove the double quote at the end)
# for example, if your credentials are as in the screenshot above, you would write:
# %sql ibm_db_sa://my-username:my-password@hostname:port/BLUDB?security=SSL
# Note the ibm_db_sa:// prefix instead of db2://
# This is because JupyterLab's ipython-sql extension uses sqlalchemy (a python SQL toolkit)
# which in turn uses IBM's sqlalchemy dialect: ibm_db_sa

In [ ]:
# # %sql ibm_db_sa://my-username:my-password@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

%sql ibm_db_sa://xxxxxxxx:YTrA9cTR5no6Qr6B@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
dsn_driver ="{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"
dsn_hostname = "2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_port = "32328"
dsn_protocol = "TCPIP"
dsn_uid = "xxxxxxxx"
dsn_pwd = "YTrA9cTR5no6Qr6B"
dsn_security = "SSL"

In [ ]:
##CREATE TABLE AND INSERT VALUES WİTH MAGİC SQL

%%sql
CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48)

In [ ]:
# country Greece olanı getir
%sql SELECT * FROM STUDENT WHERE COUNTRY = 'Greece';

In [ ]:
# TEST SCORLARININ SAYISINA BAKALIM
test_score_count =%sql SELECT test_score as "Test Score" , COUNT(*) as "Frecuncy" FROM STUDENT GROUP BY test_score;

In [ ]:
# DATAFRAME E ÇEVİRİP GÖRSELLEŞTİRELİM
test_score_count = pd.DataFrame(test_score_count)
%matplotlib inline
# uncomment the following line if you get an module error saying seaborn not found
# !pip install seaborn==0.9.0
import seaborn

plot = seaborn.barplot(x='Test Score',y='Frequency', data=test_score_count)

#Analyzing a real world data-set with SQL and Python

**IBM CLOUD DB2 YE CSV DOSYAMIZI CHICAGO ADI İLE YÜKLEDİK**

In [ ]:
# SQL YÜKLE VARSA %reload_ext sql yaz
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# BAĞLANTI KUR
# %sql ibm_db_sa://my-username:my-password@hostname:port/BLUDB?security=SSL
%sql ibm_db_sa://'xxxxxxxxx':'YTrA9cTR5no6Qr6B'@'2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud':32328/BLUDB?security=SSL

In [ ]:
# BÜTÜN TABLOYU ÇAĞIRMAK İÇİN 
%sql SELECT * FROM ZQC22929.CHICAGO;

##PROBLEM -1
 * The CHICAGO table contains a large number of columns. How many columns does this table have?
 * CHICAGO tablosu çok sayıda sütun içerir. Bu tablonun kaç sütunu var?



```
%sql SELECT COUNT(*) as 
```