<a href="https://colab.research.google.com/github/Kane0068/testrepo/blob/main/DATABASE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A) SELECT

# 1-SELECT İŞLEMLERİ

* BÜTÜN VERİLERİ ÇEKMEK İÇİN;

    `* SELECT * FROM FilmLocations;`

*  İSTENİLEN VERİLERİ ÇEKMEK İÇİN;

    `* SELECT Title,Writer FROM FilmLocations;`

* VERİLERİ ÇEKERKEN BELİRLİ BİR SINIRLAMA YAPMAK İÇİN(2000 den sonraki filmlerin adını çek);

      `SELECT Title FROM FilmLocations WHERE ReleaseYear >= 2000;`

* James Cameron yazmadığı filmlerin isimlerini ve nerede çekildiğini çek;
      
      * SELECT Title,Locations FROM FilmLocations WHERE Writer <> 'James Cameron';

##2-SELECT-COUNT İŞLEMLERİ

* BÜTÜN SATIR SAYILARINI BULMAK İÇİN;

    `SELECT COUNT(*) FROM FilmLocations;`

* Retrieve the number of locations of the films which are written by James Cameron.(James Cameron tarafından yazılan filmlerin konum bilgi sayısı);

    `SELECT COUNT(Locations) FROM FilmLocations WHERE Writer = 'James Cameron';`

* Retrieve the number of locations of the films which are directed by Woody Allen.

        SELECT COUNT(Locations) FROM FilmLocations WHERE director = 'Woody Allen';

*  Retrieve the number of films shot at Russian Hill.

          SELECT COUNT(Title) FROM FilmLocations WHERE Locations = 'Russian Hill';

*   Retrieve the number of rows having a release year older than 1950 from the “FilmLocations” table.

     ` SELECT COUNT(*) FROM FilmLocations WHERE ReleaseYear < 1950;`

## 3- SELECT - DİSTINCT (Tekrar yok)

*  Retrieve the name of all films without any repeated titles.

      

```
SELECT DISTINCT Title FROM FilmLocations;
```

* Retrieve the number of release years of the films distinctly, produced by Warner Bros. Pictures.



```
  SELECT COUNT(DISTINCT ReleaseYear) FROM FilmLocations WHERE ProductionCompany = 'Warner Bros. Pictures';
```

* Retrieve the name of all unique films released in the 21st century and onwards, along with their release years.



```
SELECT DISTINCT Title,ReleaseYear FROM FilmLocations WHERE ReleaseYear >= 2000;
```

*  Retrieve the names of all the directors and their distinct films shot at City Hall.



```
SELECT DISTINCT Title , Director FROM FilmLocations WHERE Locations = 'City Hall';
```

*  Retrieve the number of distributors distinctly who distributed films acted by Clint Eastwood as 1st actor.



```
SELECT COUNT(DISTINCT Distributor) FROM FilmLocations WHERE Actor1 = "Clint EastWood";
```

## 4- SELECT LIMIT
*   İstediğimiz kadarını çekeriz
*   5 tanesini göster gibi...

*  Retrieve the first 25 rows from the “FilmLocations” table.


```
SELECT * FROM FilmLocations LIMIT 25;
```

*   Retrieve the name of first 50 films distinctly.



```
SELECT DISTINCT Title FROM FilmLocations LIMIT 50;
```

*   Retrieve first 10 film names distinctly released in 2015.


```
`SELECT DISTINCT Title FROM FilmLocations WHERE ReleaseYear = 2015 LIMIT 10;`
```

Retrieve the next 3 film names distinctly after first 5 films released in 2015.



```
SELECT DISTINCT Title FROM FilmLocations WHERE ReleaseYear = 2015 LIMIT 5 OFFSET 3;
```

# B) INSERT-UPDATE-DELETE

**TABLE NAME : Instructor**

ins_id------lastname-------firstname------city------country

## 1- INSERT

*   Insert a new instructor record with id 4 for Sandip Saha who lives in Edmonton, CA into the “Instructor” table.



```
INSERT INTO Instructor(ins_id,lastname,firstname,city,countr) VALUES (4,'Sandip','Saha','Edmonton','CA');
```

*   Insert two new instructor records into the “Instructor” table. First record with id 5 for John Doe who lives in Sydney, AU. Second record with id 6 for Jane Doe who lives in Dhaka, BD.



```
INSERT INTO Instructor(ins_id,lastname,firstname,city,country)VALUES(5,"Doe","John","Sydney","AU"),(6,"Doe","Jane","Dhaka","BD");
```

Problem:

Insert a new instructor record with id 7 for Antonio Cangiano who lives in Vancouver, CA into the “Instructor” table.



```
INSERT INTO Instructor(ins_id,lastname,firstname,city,country)VALUES(7,"Cangiano","Antonio","Vancouver","CA");
```

Problem:

Insert two new instructor records into the “Instructor” table. First record with id 8 for Steve Ryan who lives in Barlby, GB. Second record with id 9 for Ramesh Sannareddy who lives in Hyderabad, IN.



```
INSERT INTO Instructor(ind_id,lastname,firstname,city,country)VALUES(8,"Ryan","Steve","Barlby","GB"),(9,"Sannareddy","Ramesh","Hyderabad","IN");
```

## 2- UPDATE

Problem:

Update the city for Sandip to Toronto.



```
UPDATE Instructor SET city = "Toronto" WHERE firstname = "Sandip";
```

Problem:

Update the city and country for Doe with id 5 to Dubai and AE respectively.



```
UPDATE Instructor SET city = "Dubai",country = "AE" WHERE ins_id = 5;
```

Problem:

Update the city of the instructor record to Markham whose id is 1.



```
UPDATE Instructor SET city = "Markham" WHERE ins_id = 1;
```

PROBLEM
  Update the city and country for Sandip with id 4 to Dhaka and BD respectively.




```
UPDATE Instructor city = "Dhaka",country = "BD" WHERE ins_id = 4;
```

## 3- DELETE

Remove the instructor record of Doe whose id is 6.



```
DELETE FROM Instructor WHERE ins_id = 6;
```

Problem:

Remove the instructor record of Hima.



```
DELETE FROM Instructor WHERE firstname = 'Hima';
```

*  Verileri okumak ve değiştirmek için Veri Manipülasyon Dili (DML) deyimlerini kullanabilirsiniz. 

* WHERE yan tümcesinin arama koşulu, aramayı geliştirmek için bir yüklem kullanır. 

* COUNT, DISTINCT ve LIMIT, SELECT deyimleriyle kullanılan ifadelerdir. 

* INSERT, UPDATE ve DELETE, tabloları doldurmak ve değiştirmek için kullanılan DML ifadeleridir.

![Screenshot_1.png]()

# IBM DB2

#1- CREATE

* CREATE TABLE İN DB2

*   TABLE NAME : PETSALE
*   Columns : ID,PET,SALEPRICE,PROFIT,SALEDATE



```
CREATE TABLE PETSALE(
  ID INTEGER NOT NULL,
  PET CHAR(20),
  SALEPRICE DECIMAL(6,2),
  PROFIT DECIMAL(6,2),
  SALEDATE DATE);
```

## 2- ADD DATA



```
INSERT INTO PETSALE VALUES
    (1,'Cat',450.09,100.47,'2018-05-29'),
    (2,'Dog',666.66,150.76,'2018-06-01'),
    (3,'Parrot',50.00,8.9,'2018-06-04'),
    (4,'Hamster',60.60,12,'2018-06-11'),
    (5,'Goldfish',48.48,3.5,'2018-06-14');
    
INSERT INTO PET VALUES
    (1,'Cat',3),
    (2,'Dog',4),
    (3,'Hamster',2);
```

# C) ALTER

##1-ALTER(SÜTUN EKLEME)

Alıştırma 1'de oluşturulan mevcut tablolardan ikisine sütun eklemek, silmek veya değiştirmek için ALTER deyimini kullanacaksınız.

* PETSALE TABLOSUNA INTEGER DEĞER ALAN QUANTITY(MİKTAR) SÜTUNU EKLEYELIM



```
ALTER TABLE PETSALE ADD COLUMN QUANTITY INTEGER;
```

* EKLEDİĞİMİZ QUANTITY SÜTUNUNA VERİ GİRELİM


```
UPDATE PETSALE SET QUANTITY = 9 WHERE ID =1;
UPDATE PETSALE SET QUANTITY = 5 WHERE ID =2;
UPDATE PETSALE SET QUANTITY = 12 WHERE ID =3;
UPDATE PETSALE SET QUANTITY = 10 WHERE ID =4;
UPDATE PETSALE SET QUANTITY = 4 WHERE ID =5;
```

##2- ALTER(SÜTUN ÇIKARMA)

* İSTENİLEN BİR SÜTUNU ÇIKARMAK İÇİN;


```
ALTER TABLE PETSALE DROP COLUMN PROFIT;
```

## 3- ALTER(VERİ TİPİNİ VEYA ALACAĞI KARAKTER SAYISINI DEĞİŞTİRME)

* PETSALE tablosunun PET sütununun veri türünü VARCHAR(20) olarak değiştirin ve değiştirilmiş tabloyu gösterelim.



```
ALTER TABLE PETSALE ALTER COLUMN PET DATA TYPE VARCHAR(20);
```

## 4- ALTER(RENAME COLUMNNAME)

*  SÜTUN İSMİNİ DEĞİŞTİRMEK İSTİYORUZ



```
ALTER TABLE PETSALE RENAME COLUMN PET TO ANIMAL;
```

#D)TRUNCATE
* TABLOYU DEĞİL İÇİNDEKİLERİ BOŞALTIR

*  PET tablosundaki tüm satırları kaldırın ve boş tabloyu gösterin



```
TRUNCATE TABLE PET IMMEDIATE;
```

# E) DROP

*  PET tablosunu silin ve tablonun hala var olup olmadığını doğrulayın (tablo yoksa SELECT deyimi çalışmaz). 

DROP TABLE PET;

# STRİNG PATTERNS

Retrieve all employees whose address is in Elgin,IL.

In [ ]:
SELECT F_NAME,L_NAME FROM EMPLOYEES WHERE ADRESS LİKE '%Elgin,IL%';

*  Retrieve all employees who were born during the 1970's.(1970 li yıllarda doğan tüm çalışanları getir)



```
SELECT F_NAME,L_NAME
FROM EMPLOYEES
WHERE B_DATE LIKE '197%';
```

*  Retrieve all employees in department 5 whose salary is between 60000 and 70000.(Maaşı 60000 ile 70000 arasındaki 5.departmandaki çalışanları getir)



```
SELECT * FROM
FROM EMPLOYEES
WHERE (SALARY BETWEEN 60000 AND 70000) AND DEP_ID=5;
```

# SORTİNG(SIRALAMA)

*  Retrieve a list of employees ordered by department ID.
*   Çalışanların listesini departmana göre sırala


```
SELECT F_NAME,L_NAME,DEP_ID
FROM EMPLOYEES
ORDER BY DEP_ID;
```

* Retrieve a list of employees ordered in descending order by department ID and within each department ordered alphabetically in descending order by last name.
* Departman kimliğine göre azalan sırada ve her departman içinde soyadına göre azalan sırada alfabetik olarak sıralanmış çalışanların bir listesini alın.



```
SELECT F_NAME,L_NAME,DEP_ID
FROM EMPLOYEES
ORDER BY DEP_ID DESC , L_NAME DESC;
```

* In SQL problem 2 (Exercise 2 Problem 2), use department name instead of department ID. Retrieve a list of employees ordered by department name, and within each department ordered alphabetically in descending order by last name.

*  SQL problemi 2'de (Alıştırma 2 Problem 2) departman kimliği yerine departman adını kullanın. Departman adına göre sıralanmış ve her departman içinde soyadına göre azalan sırada alfabetik olarak sıralanmış çalışanların bir listesini alın.

* DEPARTMENTS TABLOSUYLA BİRLEŞTİRECEC
 > EMPLOYESS i E diye kısalt
 > DEPARTMENTS i D diye kısalt
 


```
SELECT D.DEP_NAME , E.F_NAME, E.L_NAME
FROM EMPLOYEES as E, DEPARTMENTS as D
WHERE E.DEP_ID = D.DEPT_ID_DEP
ORDER BY D.DEP_NAME, E.L_NAME DESC;
```

#GROUPİNG

* For each department ID retrieve the number of employees in the department.

* Her departman kimliği için departmandaki çalışan sayısını alın.




```
SELECT DEP_ID , COUNT(*)
FROM EMPLOYEES
GROUP BY DEP_ID;
```

* For each department retrieve the number of employees in the department, and the average employee salary in the department..

* Her departman için departmandaki çalışan sayısı ve ortalama maaşlarını getir



```
SELECT DEP_ID , COUNT(*), AVG(SALARY)
FROM EMPLOYEES
GROUP BY DEP_ID;
```

* Label the computed columns in the result set of SQL problem 2 (Exercise 3 Problem 2) as NUM_EMPLOYEES and AVG_SALARY.

*SQL problemi 2'nin (Alıştırma 3 Problem 2) sonuç kümesindeki hesaplanan sütunları NUM_EMPLOYEES ve AVG_SALARY olarak etiketleyin.



```
SELECT DEP_ID , COUNT(*) AS NUM_EMPLOYEES
AVG(SALARY) AS AVG_SALARY
FROM EMPLOYEES
GROUP BY DEP_ID;
```

** In SQL problem 3 (Exercise 3 Problem 3), order the result set by Average Salary..

* SQL problemi 3'te (Alıştırma 3 Problem 3), sonuç kümesini Ortalama Maaş'a göre sıralayın...



```
SELECT DEP_ID,COUNT(*) AS NUM_EMPLOYEES,AVG(SALARY) AS AVG_SALARY
FROM EMPLOYEES
GROUP BY DEP_ID 
ORDER BY AVG_SALARY;
```

*  In SQL problem 4 (Exercise 3 Problem 4), limit the result to departments with fewer than 4 employees.

* SQL problemi 4'te (Alıştırma 3 Problem 4), sonucu 4'ten az çalışanı olan departmanlarla sınırlayın.



```
SELECT DEP_ID,COUNT(*) AS NUM_EMPLOYEES,AVG(SALARY) AS AVG_SALARY
FROM EMPLOYEES
GROUP BY DEP_ID
HAVİNG count(*) < 4
ORDER BY AVG_SALARY;
```

# BUİLD IN FUNCTIONS

## EXERCİSE - 1

* SUM
* AVG
* AS
* MIN
* MAX

**PETRESCUE TABLE EXAMPLE**

<table ><tr><th >ID<th><th> ANIMAL <th><th> QUANTITY<th><th> COST<th><th> RESQUEDATE<tr><tr>
<tr><td> 1 <td><td> Cat<td><td> 9<td><td> 450.09 <td><td> 2018-05-29 <td><tr><table>

* Query A1: Enter a function that calculates the total cost of all animal rescues in the PETRESCUE table.
* Sorgu A1: PETRESCUE tablosundaki tüm hayvan kurtarma işlemlerinin toplam maliyetini hesaplayan bir işlev girin.



```
SELECT SUM(COST) FROM PETRESCUE;
```

* Query A2: Enter a function that displays the total cost of all animal rescues in the PETRESCUE table in a column called SUM_OF_COST.

* Sorgu A2: SUM_OF_COST adlı bir sütunda PETRESCUE tablosundaki tüm hayvan kurtarmalarının toplam maliyetini görüntüleyen bir işlev girin.



```
SELECT SUM(COST) AS SUM_OF_COST FROM PETRESCUE;
```

* Query A3: Enter a function that displays the maximum quantity of animals rescued.

* Sorgu A3: Kurtarılan maksimum hayvan miktarını gösteren bir işlev girin.



```
SELECT MAX(QUANTITY) FROM PETRESCUE;
```

* Query A4: Enter a function that displays the average cost of animals rescued.

* Sorgu A4: Kurtarılan hayvanların ortalama maliyetini gösteren bir işlev girin.



```
SELECT AVG(COST) FROM PETRESCUE;
```

* Query A5: Enter a function that displays the average cost of rescuing a dog.



* Sorgu A5: Bir köpeği kurtarmanın ortalama maliyetini gösteren bir işlev girin.



```
SELECT AVG(COST) FROM PETRESCUE WHERE ANIMAL = 'Dog';
```

## EXERCISE -2
* Scalar and String Functions
  > * ROUND------->    (YUVARLAMA)
  > * LENGHT------->(UZUNLUK)
  > * UCASE------->(BÜYÜK HARF)
  > * LCASE------->(KÜÇÜK HARF)

* Query B1: Enter a function that displays the rounded cost of each rescue.
* Sorgu B1: Her kurtarmanın yuvarlatılmış maliyetini görüntüleyen bir işlev girin.



```
SELECT ROUND(COST) FROM PETRESCUE;
```

* Query B2: Enter a function that displays the length of each animal name.
* Sorgu B2: Her bir hayvan adının uzunluğunu görüntüleyen bir işlev girin.



```
SELECT LENGTH(ANIMAL) FROM PETRESCUE;
```

* Query B3: Enter a function that displays the animal name in each rescue in uppercase.
* Sorgu B3: Her kurtarmada hayvan adını büyük harfle görüntüleyen bir işlev girin.



```
SELECT UCASE(ANIMAL) FROM PETRESCUE;
```

* Query B4: Enter a function that displays the animal name in each rescue in uppercase without duplications.
* Sorgu B4: Her kurtarmada hayvan adını yinelemeler olmadan büyük harfle görüntüleyen bir işlev girin.



```
SELECT DISTINCT(UCASE(ANIMAL)) FROM PETRESCUE;
```

* Query B5: Enter a query that displays all the columns from the PETRESCUE table, where the animal(s) rescued are cats. Use cat in lower case in the query.
* Sorgu B5: Kurtarılan hayvan(lar)ın kediler olduğu PETRESCUE tablosundaki tüm sütunları görüntüleyen bir sorgu girin. Sorguda kediyi küçük harfle kullanın .



```
SELECT * FROM PETRESCUE WHERE LCACE(ANIMAL) = 'cat';
```

## Exercise 3: Date and Time Functions
  > * DAY
  > * MONTH
  > * YEAR
  > * CURRENT_DATE ------->(BUGÜNÜN TARİHİ)

**PETRESCUE TABLE EXAMPLE**

<table ><tr><th >ID<th><th> ANIMAL <th><th> QUANTITY<th><th> COST<th><th> RESCUEDATE<tr><tr>
<tr><td> 1 <td><td> Cat<td><td> 9<td><td> 450.09 <td><td> 2018-05-29 <td><tr><table>

* Query C1: Enter a function that displays the day of the month when cats have been rescued.

* Sorgu C1: Kedilerin kurtarıldığı ayın gününü gösteren bir işlev girin.


```
SELECT DAY(PETRESCUEDATE) FROM PETRESCUE WHERE ANIMAL = 'Cat';
```

* Query C2: Enter a function that displays the number of rescues on the 5th month.
* Sorgu C2: 5. aydaki kurtarma sayısını gösteren bir fonksiyon girin .


```
SELECT SUM(QUANTITY) FROM PETRESCUE WHERE MONTH(RESCUEDATE) = '05';
```

* Query C3: Enter a function that displays the number of rescues on the 14th day of the month.
* Sorgu C3: Ayın 14. gününde kurtarma sayısını gösteren bir fonksiyon girin .



```
SELECT SUM(QUANTITY) FROM PETRESCUE WHERE DAY(RESCUEDATE) = '14';
```

* Query C4: Animals rescued should see the vet within three days of arrivals. Enter a function that displays the third day from each rescue.
* Sorgu C4: Kurtarılan hayvanlar, geldiklerinden sonraki üç gün içinde veterinere görünmelidir. Her kurtarmadan sonraki üçüncü günü görüntüleyen bir işlev girin.



```
SELECT DAY(RESCUEDATE + 3 DAYS) FROM PETRESCUE;
```

* Query C5: Enter a function that displays the length of time the animals have been rescued; the difference between today’s date and the rescue date.
* Sorgu C5: Hayvanların kurtarıldığı süreyi gösteren bir işlev girin; bugünün tarihi ile kurtarma tarihi arasındaki fark.



```
SELECT (CURRENT_DATE-RESCUEDATE) FROM PETRESCUE;
```

# Sub-Queries and Nested Selects(12/17/2022)

**EMPLOYEES**

<table ><tr><th >EMP_ID<th><th> F_NAME <th><th> L_NAME<th><th> SSN<th><th> B_DATE<th><th> SEX<th><th> ADDRESS<th><th> JOB_ID<th><th> SALARY<th><th> MANAGER_ID<th><th> DEP_ID<tr><tr>
<tr><td> E1001 <td><td> John<td><td> Thomas<td><td> 123456<td><td> 1976-01-09<td><td> M<td><td> 5631 Rice,OakPark,JL<td><td> 100<td><td> 100000<td><td> 30001 <td><td>2<td><tr><table>

* Execute a failing query (i.e. one which gives an error) to retrieve all employees records whose salary is lower than the average salary.
* Maaşı ortalama maaştan düşük olan tüm çalışanların kayıtlarını almak için başarısız bir sorgu (yani hata veren) yürütün.



```
SELECT * FROM EMPLOYEES SALARY < AVG(SALARY);
```

* Execute a working query using a sub-select to retrieve all employees records whose salary is lower than the average salary.



* Maaşı ortalama maaştan düşük olan tüm çalışanların kayıtlarını almak için bir alt seçim kullanarak çalışan bir sorgu yürütün.



```
SELECT * FROM EMPLOYEES WHERE SALARY <(SELECT AVG(SALARY) FROM EMPLOYEES);
```

* Execute a failing query (i.e. one which gives an error) to retrieve all employees records with EMP_ID, SALARY and maximum salary as MAX_SALARY in every row.

* Her satırda EMP_ID, SALARY ve maksimum maaşın MAX_SALARY olduğu tüm çalışan kayıtlarını almak için başarısız bir sorgu (yani hata veren) yürütün.



```
SELECT EMP_ID,SALARY,MAX(SALARY) AS MAX_SALARY FROM EMPLOYEES;
```

* Execute a Column Expression that retrieves all employees records with EMP_ID, SALARY and maximum salary as MAX_SALARY in every row.
* Her satırda EMP_ID, SALARY ve maksimum maaş olarak MAX_SALARY olan tüm çalışanların kayıtlarını alan bir Sütun İfadesi yürütün.



```
SELECT EMP_ID,SALARY,(SELECT MAX(SALARY) AS MAX_SALARY FROM EMPLOYEES ) FROM EMPLOYEES;
```

* Execute a Table Expression for the EMPLOYEES table that excludes columns with sensitive employee data (i.e. does not include columns: SSN, B_DATE, SEX, ADDRESS, SALARY).

* ÇALIŞANLAR tablosu için, hassas çalışan verilerini içeren sütunları hariç tutan (yani, SSN, B_DATE, SEX, ADDRESS, SALARY sütunlarını içermeyen) bir Tablo İfadesi yürütün.

> * FROM(BİZİM BELİRLEDİĞİMİZ KISIMDAN ÇEKİYOR VERİLERİ)

```
 SELECT * FROM (EMP_ID,F_NAME,L_NAME,DEP_ID FROM EMPLOYEES) AS EMP4ALL;
```

## Working with Multiple Tables

**JOBS TABLE EXAMPLE**

<table ><tr><th >JOB_IDENT<th><th> JOB_TITLE <th><th> MIN_SALARY<th><th> MAX_SALARY<tr><tr>
<tr><td> 100 <td><td> Sr.Architect<td><td> 60000<td><td> 100000<td><tr><table>

**EMPLOYEES TABLE EXAMPLE**

<table ><tr><th >EMP_ID<th><th> F_NAME <th><th> L_NAME<th><th> SSN<th><th> B_DATE<th><th> SEX<th><th> ADDRESS<th><th> JOB_ID<th><th> SALARY<th><th> MANAGER_ID<th><th> DEP_ID<tr><tr>
<tr><td> E1001 <td><td> John<td><td> Thomas<td><td> 123456<td><td> 1976-01-09<td><td> M<td><td> 5631 Rice,OakPark,JL<td><td> 100<td><td> 100000<td><td> 30001 <td><td>2<td><tr><table>

**EXERCİSE-1**

* Retrieve only the EMPLOYEES records that correspond to jobs in the JOBS table.

* Yalnızca İŞLER tablosundaki işlere karşılık gelen ÇALIŞAN kayıtlarını alın.

> * Çalışanlar içindeki elemanlardan job id si jobs tablosunda olanları listeliyoruz.

```
SELECT * FROM EMPLOYEES
WHERE JOB_ID IN (SELECT JOB_IDENT FROM JOBS);
```

**EXERCİSE-2**

* Retrieve only the list of employees whose JOB_TITLE is Jr. Designer.

* Yalnızca JOB_TITLE, Jr. Designer olan çalışanların listesini alın.

> * JOBS TABLOSUNDA JR DESİGNER OLARAK ÇALIŞANLARIN ID LERİ ARASINDAN GETİR

```
SELECT * FROM EMPLOYEES
WHERE JOB_ID IN ( SELECT JOB_IDENT FROM JOBS WHERE JOB_TITLE = 'Jr.Designer');
```

** EXERCİSE-3**

* Retrieve JOB information and who earn more than $70,000.

* İŞ bilgilerini alın ve 70.000 dolardan fazla kazananlar.

> * JOBS BİLGİLERİNİ GETİR NERDEN ÇALIŞANLAR TABLOSUNDAN 70000 ÜSTÜ ALAN ID LERİN İÇİNDEN SEÇ

```
SELECT * FROM JOBS
WHERE JOB_IDENT IN (SELECT JOB_ID FROM EMPLOYEES WHERE SALARY > 70000);
```

** EXERCİSE - 4**

* Retrieve JOB information for female employees whose birth year is after 1976.

* Doğum yılı 1976'dan sonra olan kadın çalışanlar için İŞ bilgilerini alın.



```
SELECT * FROM JOBS
WHERE JOB_IDENT IN (SELECT JOB_ID FROM EMPLOYEES WHERE YEAR(B_DATE)>1976 AND SEX = 'F');
```

## Accessing Multiple Tables with Implicit Joins

**EXERCİSE-1**

* Perform an implicit cartesian/cross join between EMPLOYEES and JOBS tables.

* Perform an implicit cartesian/cross join between EMPLOYEES and JOBS tables.

> * İKİ TABLOYU BERABER GÖSTER

```
SELECT * FROM EMPLOYEES,JOBS;
```

**EXERCİSE-2**
* Retrieve only the EMPLOYEES records that correspond to jobs in the JOBS table.
* Yalnızca İŞLER tablosundaki işlere karşılık gelen ÇALIŞAN kayıtlarını alın.

> * İKİ TABLODAN İŞ ID LERİ AYNI OLANLARI GÖSTER

```
SELECT * FROM EMPLOYEES, JOBS
WHERE EMPLOYEES.JOB_ID = JOBS.JOB_IDENT;
```
YADA İSİMLERİ KISALTARAK YAZMAK İÇİN


```
SELECT * FROM EMPLOYEES E,JOBS J
WHERE E.JOB_ID = J.JOB_IDENT;
```

**ECERCİSE-3**
* Redo the previous query, but retrieve only the Employee ID, Employee Name and Job Title.


* Önceki sorguyu yeniden yapın, ancak yalnızca Çalışan Kimliği, Çalışan Adı ve İş Unvanını alın.



```
SELECT EMP_ID,F_NAME,JOB_TITLE FROM EMLOYEES E,JOBS J
WHERE E.JOB_ID = J.JOB_IDENT;
```

**EXERCİSE-4**

* Redo the previous query, but specify the fully qualified column names with aliases in the SELECT clause.

* Önceki sorguyu yeniden yapın, ancak SELECT yan tümcesinde tam nitelikli sütun adlarını takma adlarla belirtin.




```
SELECT E.EMP_ID,E.F_NAME,J.JOB_TITLE FROM EMPLOYEES E,JOBS J
WHERE E.JOB_ID = J.JOB_IDENT;
```