<a href="https://colab.research.google.com/github/Kane0068/testrepo/blob/main/Web_Scrapingi_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraping

In [ ]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip install requests==2.26.0

/bin/bash: mamba: command not found
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.9 MB)
     |████████████████████████████████| 6.9 MB 5.1 MB/s
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.2
    Uninstalling lxml-4.9.2:
      Successfully uninstalled lxml-4.9.2
Successfully installed lxml-4.6.4
/bin/bash: mamba: command not found

## 1 - İMPORTİNG LİBRARİES

In [ ]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [ ]:
# Kullancağımız HTML 

%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [ ]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

Bir belgeyi ayrıştırmak için onu, belgeyi iç içe geçmiş bir veri yapısı olarak temsil eden BeautifulSoup nesnesi olan BeautifulSoup yapıcısına iletin:

In [ ]:
soup = BeautifulSoup(html,'html.parser')

İlk olarak, belge Unicode'a (ASCII'ye benzer) dönüştürülür ve HTML varlıkları Unicode karakterlere dönüştürülür. Güzel Çorba, karmaşık bir HTML belgesini karmaşık bir Python nesneleri ağacına dönüştürür. BeautifulSoup nesnesi başka türde nesneler oluşturabilir. Bu laboratuvarda, bu laboratuvarın amaçları açısından aynı olan BeautifulSoup ve Tag nesnelerini ve NavigableString nesnelerini ele alacağız.

HTML'yi iç içe yapı içinde görüntülemek için prettify() yöntemini kullanabiliriz:

In [ ]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

* Tags
> * Let's say we want the title of the page and the name of the top paid player we can use the Tag. The Tag object corresponds to an HTML tag in the original document, for example, the tag title.

In [ ]:
tag_object = soup.title
print('tag object :' , tag_object)

tag object : <title>Page Title</title>

bs4.element.Tag etiket türünü görebiliriz

In [ ]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

Aynı ada sahip birden fazla Tag varsa, o Tag adına sahip ilk eleman çağrılır, bu en çok ödenen oyuncuya karşılık gelir:

In [ ]:
tag_object = soup.h3
tag_object

Kalın öznitelik b içinde yer alan, ağaç temsilinin kullanılmasına yardımcı olur. Adı almak için alt özniteliği kullanarak ağaçta aşağı doğru gidebiliriz.

Çocuklar, Ebeveynler ve Kardeşler
Yukarıda belirtildiği gibi, Etiket nesnesi bir nesne ağacıdır, etiketin alt öğesine erişebilir veya dalda aşağıdaki şekilde gezinebiliriz:

In [ ]:
tag_child = tag_object.b
tag_child

You can access the parent with the  parent

In [ ]:
parent_tag = tag_child.parent
parent_tag

this is identical to

In [ ]:
tag_object

tag_object parent is the body element.

In [ ]:
tag_object.parent

tag_object sibling is the paragraph element

In [ ]:
sibling_1 = tag_object.next_sibling
sibling_1

sibling_2 is the header element which is also a sibling of both sibling_1 and tag_object

In [ ]:
sibling_2 = sibling_1.next_sibling
sibling_2

## Exercise: next_sibling

* Using the object sibling_2 and the property next_sibling to find the salary of Stephen Curry:

* Stephen Curry'nin maaşını bulmak için sibling_2 nesnesini ve next_sibling özelliğini kullanarak:

In [ ]:
sibling_3= sibling_2.next_sibling
sibling_3

*  HTML Attributes
 > * If the tag has attributes, the tag id="boldest" has an attribute id whose value is boldest. You can access a tag’s attributes by treating the tag like a dictionary:
 > * HTML Nitelikleri
Etiketin nitelikleri varsa, id="boldest" etiketi, değeri en kalın olan bir öznitelik kimliğine sahiptir. Etikete bir sözlük gibi davranarak bir etiketin özelliklerine erişebilirsiniz:

In [ ]:
tag_child['id']

'boldest'

In [ ]:
tag_child.attrs

{'id': 'boldest'}

In [ ]:
tag_child.get('id')

'boldest'

* Navigable String
> * A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the NavigableString class to contain this text. In our HTML we can obtain the name of the first player by extracting the sting of the Tag object tag_child as follows:

* gezilebilir Dize
> * Bir dize, bir etiket içindeki bir metin veya içeriğe karşılık gelir. Güzel Çorba, bu metni içermek için NavigableString sınıfını kullanır. HTML'mizde, ilk oyuncunun adını tag_child Etiket nesnesinin girişini aşağıdaki gibi çıkararak elde edebiliriz:

In [ ]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [ ]:
type(tag_string)

bs4.element.NavigableString

In [ ]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

## Filter
* Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string. Consider the following HTML of rocket launchs:

* filtre
Filtreler, karmaşık kalıpları bulmanızı sağlar, en basit filtre bir dizedir. Bu bölümde farklı bir filtre yöntemine bir string geçireceğiz ve Beautiful Soup tam olarak bu string ile eşleştirme yapacak. Aşağıdaki roket fırlatma HTML'sini göz önünde bulundurun:

In [ ]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [ ]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [ ]:
table_bs = BeautifulSoup(table,'html.parser')

* find All
> * The find_all() method looks through a tag’s descendants and retrieves all descendants that match your filters.

* The Method signature for find_all(name, attrs, recursive, string, limit, **kwargs)

* Name
> * When we set the name parameter to a tag name, the method will extract all the tags with that name and its children.

* hepsini bul
> * find_all() yöntemi, bir etiketin alt öğelerini inceler ve filtrelerinizle eşleşen tüm alt öğeleri alır.

* find_all(name, attrs, recursive, string, limit, **kwargs) için Yöntem imzası

* İsim
> * name parametresini bir etiket adına ayarladığımızda, yöntem o ada sahip tüm etiketleri ve alt öğelerini çıkaracaktır.

In [ ]:
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [ ]:
first_row = table_rows[0]
first_row

In [ ]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [ ]:
first_row.td

In [ ]:
for i,row in enumerate(table_rows):
  print('row : ' , 1,'is' ,row)

row :  1 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row :  1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row :  1 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row :  1 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

Satır bir hücre nesnesi olduğundan, ona find_all yöntemini uygulayabilir ve td etiketini kullanarak nesne hücrelerindeki tablo hücrelerini çıkartabiliriz, bu, td adlı tüm çocuklardır. Sonuç bir listedir, her öğe bir hücreye karşılık gelir ve bir Etiket nesnesidir, bu listeyi de yineleyebiliriz. String özniteliğini kullanarak içeriği çıkarabiliriz.

In [ ]:
for i , row in enumerate(table_rows):
  print('Row',i)
  cells = row.find_all('td')
  for j,cell in enumerate(cells):
    print('Column' , j,'cell',cell)

Row 0
Column 0 cell <td id="flight">Flight No</td>
Column 1 cell <td>Launch site</td>
Column 2 cell <td>Payload mass</td>
Row 1
Column 0 cell <td>1</td>
Column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
Column 2 cell <td>300 kg</td>
Row 2
Column 0 cell <td>2</td>
Column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
Column 2 cell <td>94 kg</td>
Row 3
Column 0 cell <td>3</td>
Column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
Column 2 cell <td>80 kg</td>

Bir liste kullanırsak, o listedeki herhangi bir öğeyle eşleşebiliriz.

In [ ]:
list_input = table_bs.find_all(name = ['tr','td'])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

## Attributes

Argüman tanınmazsa, etiketin nitelikleri üzerinde bir filtreye dönüştürülür. Örneğin, id bağımsız değişkeni olan Beautiful Soup, her etiketin id özelliğine göre filtre uygular. Örneğin, ilk td elemanları id of Flight değerine sahiptir, dolayısıyla bu id değerine göre filtreleme yapabiliriz.

In [ ]:
table_bs.find_all(id = 'flight')

In [ ]:
# Florida Vikipedi sayfasına bağlantıları olan tüm öğeleri bulabiliriz:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [ ]:
# Değer ne olursa olsun href niteliğini True olarak ayarlarsak, kod, href değerine sahip tüm etiketleri bulur:

table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

## Exercise: find_all

In [ ]:
table_bs.find_all(href=False)

[<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <a> </a>,
 <td>80 kg</td>]

In [ ]:
# Çorba nesnesi çorbasını kullanarak, id özniteliği içeriği "en kalın" olarak ayarlanmış öğeyi bulun.

soup.find_all(id = 'boldest')

In [ ]:
# String ile etiketler yerine stringleri arayabilirsiniz, burada Florida ile tüm öğeleri buluruz:

table_bs.find_all(string = 'Florida')

['Florida', 'Florida']

**find_all() yöntemi, sonuçları aramak için tüm belgeyi tarar, tek bir öğe arıyorsanız, belgedeki ilk öğeyi bulmak için find() yöntemini kullanabilirsiniz. Aşağıdaki iki tabloyu göz önünde bulundurun:**

In [ ]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [ ]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [ ]:
two_tables_bs = BeautifulSoup(two_tables,'html.parser')

In [ ]:
two_tables_bs.find('table')

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [ ]:
# İkinci tabloyu bulmak için class niteliğini filtreleyebiliriz, ancak class Python'da bir anahtar kelime olduğu için alt çizgi ekleriz.
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

## Downloading And Scraping The Contents Of A Web Page

In [ ]:
url = "http://www.ibm.com"

In [ ]:
data = requests.get(url).text

In [ ]:
soup  = BeautifulSoup(data,'html.parser')

In [ ]:
for link in soup.find_all('a',href=True):
  print(link.get('href'))

https://www.ibm.com/thought-leadership/best-of/2022/
#ibm-hp--tech-section
https://www.ibm.com/consulting/?lnk=ushpv18intro2
https://www.ibm.com/about
https://www.ibm.com/consulting/?lnk=flathl
https://www.ibm.com/consulting/strategy/?lnk=flathl
https://www.ibm.com/consulting/ibmix?lnk=flathl
https://www.ibm.com/consulting/technology/
https://www.ibm.com/consulting/operations/?lnk=flathl
https://www.ibm.com/strategic-partnerships
https://www.ibm.com/employment/?lnk=flatitem
https://www.ibm.com/impact
https://research.ibm.com/
https://www.ibm.com/

In [ ]:
# Tüm görüntüleri kazıyın Etiket

for link in soup.find_all('img'):
  print(link)
  print(link.get('src'))

<img alt="Person standing with arms crossed" aria-describedby="bx--image-1" class="bx--image__img" src="https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg
<img alt="Team members at work in a conference room" aria-describedby="bx--image-2" class="bx--image__img" src="https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg"/>
https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg
<img alt="Coworkers looking at laptops" aria-describedby="bx--image-3" class="bx--image__img" src="https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg
<img alt="Cloud developer with red sweater coding at desk" aria-describedby="bx--image-4" class="bx--image__img" src="https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg
<img alt="Aerial view of automated conveyer belt and machinery at work" aria-describedby="bx--image-5" class="bx--image__img" src="https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg
<img alt="Overhead view of partners collaborating on design with laptops and coffee" aria-describedby="bx--image-6" class="bx--image__img" src="https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg

##HTML tablolarından veri kazıyın

In [ ]:
#The below url contains an html table with data about colors and color codes.
#Aşağıdaki url, renkler ve renk kodlarıyla ilgili verileri içeren bir html tablosu içerir.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [ ]:
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,'html.parser')

In [ ]:
# #find a html table in the web page
soup.find_all('table')

[<table border="1" class="main-table">
 <tr>
 <td>Number </td>
 <td>Color</td>
 <td>Color Name</td>
 <td>Hex Code<br/>#RRGGBB</td>
 <td>Decimal Code<br/>(R,G,B)</td>
 </tr>
 <tr>
 <td>1</td>
 <td style="background:lightsalmon;"> </td>
 <td>lightsalmon</td>
 <td>#FFA07A</td>
 <td>rgb(255,160,122)</td>
 </tr>
 <tr>
 <td>2</td>
 <td style="background:salmon;"> </td>
 <td>salmon</td>
 <td>#FA8072</td>
 <td>rgb(250,128,114)</td>
 </tr>
 <tr>
 <td>3</td>
 <td style="background:darksalmon;"> </td>
 <td>darksalmon</td>
 <td>#E9967A</td>
 <td>rgb(233,150,122)</td>
 </tr>
 <tr>
 <td>4</td>
 <td style="background:lightcoral;"> </td>
 <td>lightcoral</td>
 <td>#F08080</td>
 <td>rgb(240,128,128)</td>
 </tr>
 <tr>
 <td>5</td>
 <td style="background:coral;"> </td>
 <td>coral</td>
 <td>#FF7F50</td>
 <td>rgb(255,127,80)</td>
 </tr>
 <tr>
 <td>6</td>
 <td style="background:tomato;"> </td>
 <td>tomato</td>
 <td>#FF6347</td>
 <td>rgb(255,99,71)</td>
 </tr>
 <tr>
 <td>7</td>
 <td style="background:orangered;"> </td>
 <td>orangered</td>
 <td>#FF4500</td>
 <td>rgb(255,69,0)</td>
 </tr>
 <tr>
 <td>8</td>
 <td style="background:gold;"> </td>
 <td>gold</td>
 <td>#FFD700</td>
 <td>rgb(255,215,0)</td>
 </tr>
 <tr>
 <td>9</td>
 <td style="background:orange;"> </td>
 <td>orange</td>
 <td>#FFA500</td>
 <td>rgb(255,165,0)</td>
 </tr>
 <tr>
 <td>10</td>
 <td style="background:darkorange;"> </td>
 <td>darkorange</td>
 <td>#FF8C00</td>
 <td>rgb(255,140,0)</td>
 </tr>
 <tr>
 <td>11</td>
 <td style="background:lightyellow;"> </td>
 <td>lightyellow</td>
 <td>#FFFFE0</td>
 <td>rgb(255,255,224)</td>
 </tr>
 <tr>
 <td>12</td>
 <td style="background:lemonchiffon;"> </td>
 <td>lemonchiffon</td>
 <td>#FFFACD</td>
 <td>rgb(255,250,205)</td>
 </tr>
 <tr>
 <td>13</td>
 <td style="background:papayawhip;"> </td>
 <td>papayawhip</td>
 <td>#FFEFD5</td>
 <td>rgb(255,239,213)</td>
 </tr>
 <tr>
 <td>14</td>
 <td style="background:moccasin;"> </td>
 <td>moccasin</td>
 <td>#FFE4B5</td>
 <td>rgb(255,228,181)</td>
 </tr>
 <tr>
 <td>15</td>
 <td style="background:peachpuff;"> </td>
 <td>peachpuff</td>
 <td>#FFDAB9</td>
 <td>rgb(255,218,185)</td>
 </tr>
 <tr>
 <td>16</td>
 <td style="background:palegoldenrod;"> </td>
 <td>palegoldenrod</td>
 <td>#EEE8AA</td>
 <td>rgb(238,232,170)</td>
 </tr>
 <tr>
 <td>17</td>
 <td style="background:khaki;"> </td>
 <td>khaki</td>
 <td>#F0E68C</td>
 <td>rgb(240,230,140)</td>
 </tr>
 <tr>
 <td>18</td>
 <td style="background:darkkhaki;"> </td>
 <td>darkkhaki</td>
 <td>#BDB76B</td>
 <td>rgb(189,183,107)</td>
 </tr>
 <tr>
 <td>19</td>
 <td style="background:yellow;"> </td>
 <td>yellow</td>
 <td>#FFFF00</td>
 <td>rgb(255,255,0)</td>
 </tr>
 <tr>
 <td>20</td>
 <td style="background:lawngreen;"> </td>
 <td>lawngreen</td>
 <td>#7CFC00</td>
 <td>rgb(124,252,0)</td>
 </tr>
 <tr>
 <td>21</td>
 <td style="background:chartreuse;"> </td>
 <td>chartreuse</td>
 <td>#7FFF00</td>
 <td>rgb(127,255,0)</td>
 </tr>
 <tr>
 <td>22</td>
 <td style="background:limegreen;"> </td>
 <td>limegreen</td>
 <td>#32CD32</td>
 <td>rgb(50,205,50)</td>
 </tr>
 <tr>
 <td>23</td>
 <td style="background:lime;"> </td>
 <td>lime</td>
 <td>#00FF00</td>
 <td>rgb(0.255.0)</td>
 </tr>
 <tr>
 <td>24</td>
 <td style="background:forestgreen;"> </td>
 <td>forestgreen</td>
 <td>#228B22</td>
 <td>rgb(34,139,34)</td>
 </tr>
 <tr>
 <td>25</td>
 <td style="background:green;"> </td>
 <td>green</td>
 <td>#008000</td>
 <td>rgb(0,128,0)</td>
 </tr>
 <tr>
 <td>26</td>
 <td style="background:powderblue;"> </td>
 <td>powderblue</td>
 <td>#B0E0E6</td>
 <td>rgb(176,224,230)</td>
 </tr>
 <tr>
 <td>27</td>
 <td style="background:lightblue;"> </td>
 <td>lightblue</td>
 <td>#ADD8E6</td>
 <td>rgb(173,216,230)</td>
 </tr>
 <tr>
 <td>28</td>
 <td style="background:lightskyblue;"> </td>
 <td>lightskyblue</td>
 <td>#87CEFA</td>
 <td>rgb(135,206,250)</td>
 </tr>
 <tr>
 <td>29</td>
 <td style="background:skyblue;"> </td>
 <td>skyblue</td>
 <td>#87CEEB</td>
 <td>rgb(135,206,235)</td>
 </tr>
 <tr>
 <td>30</td>
 <td style="background:deepskyblue;"> </td>
 <td>deepskyblue</td>
 <td>#00BFFF</td>
 <td>rgb(0,191,255)</td>
 </tr>
 <tr>
 <td>31</td>
 <td style="background:lightsteelblue;"> </td>
 <td>lightsteelblue</td>
 <td>#B0C4DE</td>
 <td>rgb(176,196,222)</td>
 </tr>
 <tr>
 <td>32</td>
 <td style="background:dodgerblue;"> </td>
 <td>dodgerblue</td>
 <td>#1E90FF</td>
 <td>rgb(30,144,255)</td>
 </tr>
 </table>]

In [ ]:
#Get all rows from the table

for row in soup.find_all('tr'):
  cols = row.find_all('td')
  color_name = cols[2].string
  color_code = cols[3].string
  print('{}----->{}'.format(color_name,color_code))

Color Name----->None
lightsalmon----->#FFA07A
salmon----->#FA8072
darksalmon----->#E9967A
lightcoral----->#F08080
coral----->#FF7F50
tomato----->#FF6347
orangered----->#FF4500
gold----->#FFD700
orange----->#FFA500
darkorange----->#FF8C00
lightyellow----->#FFFFE0
lemonchiffon----->#FFFACD
papayawhip----->#FFEFD5
moccasin----->#FFE4B5
peachpuff----->#FFDAB9
palegoldenrod----->#EEE8AA
khaki----->#F0E68C
darkkhaki----->#BDB76B
yellow----->#FFFF00
lawngreen----->#7CFC00
chartreuse----->#7FFF00
limegreen----->#32CD32
lime----->#00FF00
forestgreen----->#228B22
green----->#008000
powderblue----->#B0E0E6
lightblue----->#ADD8E6
lightskyblue----->#87CEFA
skyblue----->#87CEEB
deepskyblue----->#00BFFF
lightsteelblue----->#B0C4DE
dodgerblue----->#1E90FF

## BeautifulSoup ve Pandas kullanarak HTML tablolarındaki verileri bir DataFrame'e kazıyın

In [ ]:
import pandas as pd

In [ ]:
# The below url contains html tables with data about world population.
# Aşağıdaki url, dünya nüfusuyla ilgili verileri içeren html tabloları içerir.

url = "https://en.wikipedia.org/wiki/World_population"

In [ ]:
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,'html.parser')

In [ ]:
tables = soup.find_all('table')

In [ ]:
len(tables)

24

En yoğun 10 ülke tablosunu aradığımızı varsayalım, tablolar listesine bakıp her tablodaki verilere göre aradığımız doğru olanı bulabilir veya listede varsa tablo adını arayabiliriz. ancak bu seçenek her zaman çalışmayabilir.

In [ ]:
for index,table in enumerate(tables):
  if('10 most densely populated countries' in str(table)):
    table_index = index
print(table_index)

4

In [ ]:
# Aşağıdaki en yoğun nüfuslu 10 ülke olan tablonun tablo adını bulma;

print(tables[table_index].prettify())

## DataFrame

In [ ]:
population_data = pd.DataFrame(columns = ['Rank','Country','Population','Area','Density'])

for row in tables[table_index].tbody.find_all('tr'):
  col = row.find_all('td')
  if (col != []):
    rank = col[0].text
    country = col[1].text
    population = col[2].text
    area = col[3].text
    density = col[4].text
    population_data = population_data.append({'Rank' : rank,
                                              'Country' : country,
                                             'Population' : population,
                                              'Area' : area,
                                              'Density' : density},ignore_index =True)
    
population_data

  Rank                Country     Population       Area  Density
0    1              Singapore      5,921,231        719  8,235\n
1    2           Bangladesh\n  165,650,475\n  148,460\n  1,116\n
2    3  \n Palestine[103]\n\n    5,223,000\n    6,025\n    867\n
3    4                Lebanon      5,296,814     10,400    509\n
4    5                 Taiwan     23,580,712     35,980    655\n
5    6            South Korea     51,844,834     99,720    520\n
6    7                 Rwanda     13,173,730     26,338    500\n
7    8               Israel\n    8,914,885\n   21,937\n    406\n
8    9                  Haiti     11,334,637     27,750    408\n
9   10          Netherlands\n   17,400,824\n   41,543\n    419\n

##Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

*  Son bölümdekiyle aynı url, data, sauce ve tables nesnesini kullanarak bir DataFrame oluşturmak için read_html işlevini kullanabiliriz.

İhtiyacımız olan tablonun tablolarda yer aldığını unutmayın[table_index]

Artık pandalar read_html işlevini kullanabilir ve ona tablonun dize sürümünü ve ayrıca bs4 ayrıştırma motoru olan lezzeti verebiliriz.

In [ ]:
pd.read_html(str(tables[5]),flavor = 'bs4')

[   Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1389637446    3287263               423
 1     2        Pakistan   242923845     796095               305
 2     3      Bangladesh   165650475     148460              1116
 3     4           Japan   124214766     377915               329
 4     5     Philippines   114597229     300000               382
 5     6         Vietnam   103808319     331210               313
 6     7  United Kingdom    67791400     243610               278
 7     8     South Korea    51844834      99720               520
 8     9          Taiwan    23580712      35980               655
 9    10       Sri Lanka    23187516      65610               353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                   Rapidly growing
 3                    Declining[104]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ]

In [ ]:
population_data_read_html = pd.read_html(str(tables[5]),flavor='bs4')[0]
population_data_read_html

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Rapidly growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

## Scrape data from HTML tables into a DataFrame using read_html

DataFrame'leri doğrudan bir url'den almak için read_html işlevini de kullanabiliriz.

In [ ]:
dataframe_list = pd.read_html(url,flavor='bs4')

In [ ]:
len(dataframe_list)

24

In [ ]:
dataframe_list[5]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Rapidly growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

İstediğimiz belirli tabloyu seçmek için `match` parametresini de kullanabiliriz. Tablo, metinle eşleşen bir dize içeriyorsa, okunacaktır.

In [ ]:
pd.read_html(url,match ='10 most densely populated countries',flavor = 'bs4')

[   Rank         Country  Population  Area(km2)  Density(pop/km2)
 0     1       Singapore     5921231        719              8235
 1     2      Bangladesh   165650475     148460              1116
 2     3  Palestine[103]     5223000       6025               867
 3     4         Lebanon     5296814      10400               509
 4     5          Taiwan    23580712      35980               655
 5     6     South Korea    51844834      99720               520
 6     7          Rwanda    13173730      26338               500
 7     8          Israel     8914885      21937               406
 8     9           Haiti    11334637      27750               408
 9    10     Netherlands    17400824      41543               419]